<title>404! Page not found</title>
<div class="card text-center centered" style="width: 18rem">
	<div class="card-header">
		<b>404!</b>
		<br>Page not found.</br>
	</div>
	<div class="card-body">
	    <p>If you're looking for Jim, he's not here.</p>
	    <button class="btn btn-primary" id="back">Go Back</button>
	    <a class="btn btn-primary" role="button" href="/">Go Home</a>
	</div>
</div>

<script>
	$("#back").click(function() {
		window.history.back();
	});
</script>