<title>Chugim</title>
<div class="top-right">
	<a href="/chugim/klugie" class="btn btn-secondary" role="button">Rosh Sports Login</a>
</div>
<div class="centered">
	<h3>Please select a session</h3>
	<form>
		<div class="form-group">
			<select class="custom-select" name="session">
			{{#each sessions}}
			<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Select</button>
	</form>
</div>