<style>
	#title {
		position: absolute;
		margin: 0;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -10%);
	}

	#footer {
		position: absolute;
		bottom: 0%;
		left: 2%;
	}
</style>

<title>Camp Stone Algorithms Portal</title>

<div class="card text-center home-coloring" id="title">
	<div class="card-body">
		<h1>Welcome to the Camp Stone Algorithms Portal</h1>
	</div>
</div>

<div class="card text-center centered home-coloring" style="width: 18rem">
	<div class="card-body">
		<a href="/chugim" class="btn btn-secondary btn-lg btn-block" role="button">Chugim</a>
		<div style="padding-top: 15px"><i>More Coming Soon...</i></div>
	</div>
</div>

<p id="footer">© Yair Fax, Sgan Rosh Mosh 2018 II, Shevet Na'aleh</p>