<style>
	.centered {
		margin: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

	.coloring {
		background-color: lightgray;
		border: 0px;
	}

</style>

<div class="card text-center centered coloring" style="width: 18rem">
	<div class="card-body">
	    <a href="/chugim" class="btn btn-secondary btn-lg btn-block" role="button">Chugim</a>
	    <a href="#" class="btn btn-secondary btn-lg btn-block" role="button">Shmira</a>
	    <a href="#" class="btn btn-secondary btn-lg btn-block" role="button">Lightning Rounds</a>
	</div>
</div>
