<title>Register Another Admin</title>
<h3>Register Another Admin</h3>
<form id="register-form">
	<div class="form-group">
		<label for='name'>Name</label>
		<input type='text' name='name' placeholder="Name" class="form-control" required>
	</div>
	<div class="form-group">
		<label for='username'>Username</label>
		<input id='username' type='text' name='username' placeholder="Username" class="form-control" required>
		<div class="invalid-feedback">Username already exists</div>
	</div>
	<div class="form-group">
		<label for='pswd'>Password</label>
		<input type='password' name='pswd' placeholder="Password" class="form-control" required>
	</div>
	<button class="btn btn-primary" type="submit" id="register-submit">Submit</button>
</form>

<script>
	registerForm({
        form: "#register-form",
        url: "/register",
        redirect: "/chugim/klugie",
        error: data => data.responseText.includes("username already exists") ? $("#username").addClass('is-invalid') : alert(data.responseText)
    })
</script>