<title>Rosh Sports Portal</title>
<div class="centered">
	<h3>Please select a session</h3>
	<form>
		<div class="form-group">
			<select class="custom-select" name="session">
			{{#each sessions}}
			<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Select</button>
		<a role="button" class="btn btn-primary" href="/chugim/klugie/newsession">Create New Session</a>
	</form>

</div>