<title>Rosh Sports Portal</title>
<!--Dropdown menu-->
<div class="top-right">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Options
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<a href="/register" class="dropdown-item">Register Another User</a>
			<a href="/password" class="dropdown-item">Change Password</a>
			<a href="/logout" class="dropdown-item">Logout</a>
		</div>
	</div>
</div>

<h2 style="text-align: center; padding: 20px">Rosh Sports Portal</h2>
<div class="centered">
	<h3>Please select a session</h3>
	<form>
		<div class="form-group">
			<select class="custom-select" name="session">
			{{#each sessions}}
			<option value="{{this.id}}">{{this.name}} ({{#if this.active}}Active{{else}}Inactive{{/if}})</option>
			{{/each}}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Select</button>
		<a role="button" class="btn btn-primary" href="/chugim/klugie/newsession">Create New Session</a>
	</form>

</div>


<script>
	$("form").submit(function(event) {
		window.location.replace(`/chugim/klugie/${$("select").val()}`);
		event.preventDefault();
	});
</script>